* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}


:root {
    /* Color */
    --primary-color: #0F1A2C;
    --secondary-color: #F3973D;


    --container-padding-x: 3rem;
    --container-max-width: 100%;
    --container-fluid: calc((120rem + var(var(--container-padding-x))));
}