* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}


:root {
    /* Color */
    --primary-color: #0F1A2C;
    --secondary-color: #F3973D;


    --container-padding-x: 3rem;
    --container-max-width: 100%;
    --container-fluid: calc((120rem + var(--container-padding-x)));
}

@font-face {
    font-family: 'Ethnocentric Rg';
    src: url(../font/ethnocentric\ rg.otf);
}

a {
    text-decoration: none;
    color: inherit;
}

.col {
    width: 50%;
}


button, select, input, textarea {
    font-family: "Roboto", "sans-serif";
    font-size: 1.4rem;
    line-height: 1.2;
    padding: 0;
    border: none;
    outline: none;
    resize: none;
    vertical-align: middle;
}

@keyframes zoonIn {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}