@media screen and (max-width:1500px){
  .hd {
    padding: 1.2rem 1.5rem;
  }
}

@media screen and (max-width:1200px) {
  /* .hdMenu {
    display: none;
  } */
  .hd-menu.active {
    transform: scale(1);
  }
  .hd-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 28rem;
    height: 100vh;
    background-color: var(--primary-color);
    z-index: 3;
    transform: translateX(100%);
  }
  .menu-list {
    flex-direction: column;
    align-items: flex-start;
  }
  .menu-item-link {
    /* color: var(--primary-color); */
  }

  .hd-bar {
    display: block;
    font-size: 2rem;
    padding-left: 3rem;
}
  .hd-menu-close {
    display: block;
  }

  .menu-social-fixed {
    display: none;
  }

  /* MAIN */

  .store {

  }

  .store-tt {

  }

  .store-table table {
    font-size: 1.6rem;
    width: 100%;
  }

  .store-table thead {
    display: none;
  }

  .store-table tbody tr {
    display: block;
    border: 2px solid rgba(0, 0, 0, 0.16);
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
    margin-bottom: 2rem;
  }

  .store-table table td {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    line-height: 1.6rem;
    text-align: right;
    padding: 1.5rem;
    border: unset;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);

  }

  .store-table table td::after {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }


}