@media screen and (max-width:1500px){
  .hd {
    padding: 1.2rem 1.5rem;
  }
}

@media screen and (max-width:1200px) {
  /* .hdMenu {
    display: none;
  } */

  .hd-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 28rem;
    height: 100vh;
    background-color: var(--primary-color);
    z-index: 3;
  }
  .menu-list {
    flex-direction: column;
    align-items: flex-start;
  }
  .menu-item-link {
    /* color: var(--primary-color); */
  }

  .hd-bar {
    display: block;
    font-size: 2rem;
    padding-left: 3rem;
}
  .hd-menu-close {
    display: block;
  }

.menu-social-fixed {
  display: none;
}

}