.hd {
    position: sticky;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 11rem;
    padding: 3.rem 8rem;
    color: #fff;
    background-color: var(--primary-color);
}

.hd-ctn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hd-logo {

}

.custom-logo-link {

}

.hd-menu {

}

.menu {

}

.menu-list {

}

.menu-item {

}

.hd-controld {

}

.hd-lang {

}

.hd-lang-list {

}

.hd-lang-item {

}
